@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');


body{
    background: #2f3640;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;

}


h1{
    text-align: center;
    color: white;
    font-size: 3rem;
}
#quotes{
    height: 400px;
    width: 700px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white;
    border-radius: 8px;
    padding: 12px;
}

.container{
    text-align: center;
}
button{
    padding: 18px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    color: white;
    background: #38a566;
    cursor: pointer;
}
button:hover{
    background: #38c070;
}
p{
    color: black;
    font-size: 2.2rem;
}

form{
    text-align: center;
}
#quotesInput{
    padding: 10px;
    font-size: 1rem;
    width: 60%;
    margin-bottom: 20px;
    border-radius: 8px;
}
#sub-btn{
    width: 10%;
}

#quotesList div{
    background: #353b48;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #2f3640;
}
#quotesList div p {
    color: white;
    display: inline-block;
    margin: 2px;
}
#quotesList div button {
    
    text-align: center;
    
}
button:focus{
    outline: none;
}
input:focus{
    outline: none;
}

#filter{
    text-align: center;
    margin-bottom: 20px;
}
#filterInput {
    padding: 8px;
    width: 30%;
    border-radius: 8px;
}
label{
    color: white;
    font-size: 25px;
    vertical-align: middle;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    body {
      
    }
    #quotes{
        width: 300px;
        margin: 20px auto;
    }
    #quotesInput{
        width: 100%;
    }
    #sub-btn{
        width: 60%;
    }
  }