@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');


body{
    background: linear-gradient(to right bottom, #2ecc71, #e67e22);
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;

}


h1{
    text-align: center;
    color: white;
    font-size: 3rem;
}
#quotes{
    height: 400px;
    width: 700px;
    margin: 200px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
}
button{
    padding: 18px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    color: white;
    background: #38a566;
    cursor: pointer;
}
button:hover{
    background: #38c070;
}
p{
    color: white;
    font-size: 2rem;
}

form{
    text-align: center;
}
#quotesInput{
    padding: 10px;
    font-size: 1rem;
    width: 60%;
    margin-bottom: 20px;
    border-radius: 8px;
}
#sub-btn{
    width: 10%;
}